Flask==0.10.1
Flask-Bootstrap==3.2.0.2
Flask-Migrate==1.2.0
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Flask-Sockets==0.1
Flask-WTF==0.10.2
Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
Pillow==2.5.3
SQLAlchemy==0.9.7
WTForms==2.0.1
Werkzeug==0.9.6
alembic==0.6.7
gevent==1.0.1
gevent-websocket==0.9.3
greenlet==0.4.4
gunicorn==19.1.1
itsdangerous==0.24
pycrypto==2.6.1
redis==2.10.3
selenium==2.43.0
wsgiref==0.1.2
