{% extends "base.html" %}

{% block title %}About | Little Printer{% endblock %}

{% block page_content %}

<div class="row">
	<div class="col-md-8">
		<h1>About</h1>
		
		<p>This is an alternate Little Printer backend, codenamed <em>sirius.</em> It is maintained by Matt Webb.</p>
		<p>Currently it allows for:</p>
		<ul>
			<li>Signing in with Twitter</li>
			<li>Claiming printers</li>
			<li>Sending messages to printers</li>
		</ul>
		<p>You can send messages to your own printer. Anybody you follow on Twitter can also send a message to your printer. Messages will print immediately.</p>
		<p><strong>Required:</strong> To use this alternate backend, the Berg Cloud Bridge needs a software update. This update is currently in testing and not yet generally available.</p>
		<p>Future plans include message templates, Little Printer face changes, and a Direct Print API.</p>
		<p>For more background and info, check out <a href="http://littleprinterblog.tumblr.com">recent posts on the Little Printer blog</a>.</p>
		<p>The code repository can be found at <a href="https://github.com/genmon/sirius">github.com/genmon/sirius</a></p>
		<p>(If anyone knows how to get the littleprinter user on Github, let me know and we'll move the repo there.)</p>
		<p><strong>Permissions:</strong> While this software is intended for Little Printer owners to continue using their printers, even installing and improving the code on their own, it is not intended for use (in whole or part) with printers or other products not manufactured by Berg Cloud Limited, and no permission to do so is given. But if you'd like a license to manufacture printers or other products using the same code and underlying protocols, please do get in touch!</p>
		<p><strong>Contact:</strong> Matt can be reached by emailing info at bergcloud dot com.</p>
	</div>
</div>


{% endblock %}
