{% extends "base.html" %}

{% block title %}{{ printer.name }} | Little Printer{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-md-8">

		<h1>
			{{ printer.name }}
			<small>
				Owned by
				{% if current_user.id == printer.owner.id %}
				you
				{% else %}
				@{{ printer.owner.username }}
				{% endif %}
			</small>
		</h1>

		<p>
			<a class="btn btn-default" href="{{
							url_for('printer_print.printer_print',
									printer_id=printer.id) }}">Send message</a>
		</p>

		{% if current_user.id == printer.owner.id %}
		<h2>Recent messages</h2>

		{% for m in messages %}
		<p>
			<img src="data:image/png;base64,{{ m.base64_pixels() }}" style="border: 1px solid black;width: 6cm;">
			<br>
			From @{{ m.sender.username }} at
			{% if m.response_timestamp == None %}
			<span class="bg-info">(still sending)</span>
			{% else %}
			{{ m.response_timestamp.strftime('%H:%M, %d/%m/%Y') }}
			{% endif %}
			{% if m.failure_message %}
			<br>
			Message failed: <span class="bg-danger">{{ m.failure_message }}</span>
			{% endif %}
		</p>
		{% endfor %}
		
		{% endif %}

	</div>
</div>
{% endblock %}
